html, body {
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#todo {
    width: 600px;
    padding: 0px 10px 20px 10px;
    margin: auto;
}

#taskbar {
    border-bottom: 1px solid gray;
    padding: 0px 0px 10px 0px;
}

#taskbar h1 {
    font-size: 3.3em;
}

#taskbar input {
    width: 100%;
    height: 30px;
    outline: none;
}

.addBtn {
    outline: none;
    width: 40px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px;
}

#list {
    margin: 0;
    list-style-type: none;
    padding: 0px;
}

#list li {
    font-size: 1.4em;
    text-align: left;
    left: 0;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#list li.checked {
    text-decoration: line-through;
    font-style: italic;
    color: green;
}

.toggle {
    outline: none;
    cursor: pointer;
    margin: auto 0;
}

#list li label {
    margin-left: 1em;
}

.close {
    outline: none;
    float: right;
}